-- Thêm cột status vào bảng accounts
ALTER TABLE public.accounts ADD COLUMN IF NOT EXISTS status TEXT NOT NULL DEFAULT 'active';

-- Cập nhật status dựa trên enddate cho các record hiện có
UPDATE public.accounts 
SET status = CASE 
  WHEN enddate <= CURRENT_DATE THEN 'expired'
  ELSE 'active'
END;

-- Kiểm tra cấu trúc bảng
SELECT column_name, data_type, is_nullable, column_default 
FROM information_schema.columns 
WHERE table_name = 'accounts' 
AND table_schema = 'public'
ORDER BY ordinal_position;
