-- Sửa trigger function để khớp với tên cột thực tế
CREATE OR REPLACE FUNCTION public.set_updated_at()
RETURNS trigger AS \$\$
BEGIN
  NEW.updatedat = now();
  RETURN NEW;
END;
\$\$ language plpgsql;

-- Xóa trigger cũ và tạo lại
DROP TRIGGER IF EXISTS trg_accounts_updated_at ON public.accounts;
CREATE TRIGGER trg_accounts_updated_at
BEFORE UPDATE ON public.accounts
FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();
